* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  color: white;
}
* a {
  text-decoration: none;
}

/*Root*/
:root {
  --timing-function: cubic-bezier(0.82, 0.2, 0.42, 1);
}

/*Fin Root*/
/*Variables*/
/*Fin Variables*/
/*mixin*/
/*Fin mixin*/
/*Extend*/
.flexCenter, footer .redesFooter, .nuevoPrincipal .imgNuevoPrincipal .camisetaArg2022, .nuevoPrincipal .imgNuevoPrincipal .botinesAF50, .nuevoPrincipal, .nombrePrincipal, .botonScroll a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCenterColumn, .jugadores .jugador, .cajaMapa, .consulta, .preguntasFrecuentes, #bodyContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fondoAzul {
  background-color: #0F1758;
}

.fondoBlanco {
  background-color: #E6E2ED;
}

/*Fin Extend*/
/*Msps*/
/*Fin Msps*/
/*---------------------------Boton Scroll---------------------------*/
.botonScroll {
  height: 40px;
  width: 40px;
  background-color: none;
  position: fixed;
  right: 1%;
  bottom: 2%;
  z-index: 100;
}
.botonScroll a {
  font-size: 20px;
  height: 100%;
  width: 100%;
  background-color: #E6E2ED;
  border: 2px #0d1242 solid;
  transition: all 0.4s;
}
.botonScroll a i {
  color: #0d1242;
  transition: all 0.4s;
}
.botonScroll a:hover {
  border-radius: 50%;
  transition: all 0.4s;
  transform: rotate(45deg);
}
.botonScroll a:hover i {
  transition: all 0.4s;
  transform: rotate(-45deg);
}

/*---------------------------Fin Boton Scroll---------------------------*/
/*---------------------------Body---------------------------*/
body {
  background-color: #E6E2ED;
  display: flex;
  flex-direction: column;
  /*Barra dezplazamiento*/
  /*Fin Barra dezplazamiento*/
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: #0F1758;
  border-radius: 20px;
  border: 1px solid #E6E2ED;
}
body::-webkit-scrollbar-track {
  border-left: 1px solid #E6E2ED;
  background: #E6E2ED;
}

/*---------------------------Fin Body---------------------------*/
/*---------------------------Header---------------------------*/
nav {
  background-color: #0d1242;
  font-size: 25px;
  border-bottom: 2px #E6E2ED solid;
  width: 100%;
}
nav .nav-link {
  margin: 5px 20px;
}
nav .nav-link:hover {
  color: grey !important;
}

/*---------------------------Fin Header---------------------------*/
/*---------------------------Inicio---------------------------*/
/*Titulo Inicio*/
.nombrePrincipal {
  height: 700px;
  width: 100%;
  background-color: none;
  background-image: url(../Multimedia/Imagenes/EstadioFutbol1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  justify-content: flex-start;
}
.nombrePrincipal .nombreTienda {
  height: 300px;
  width: 40%;
  background-color: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nombrePrincipal .nombreTienda .textoPrincipal {
  background-color: rgba(0, 0, 0, 0.5);
}
.nombrePrincipal .nombreTienda .textoPrincipal p {
  padding: 20px 30px;
  font-size: 20px;
}
.nombrePrincipal .nombreTienda h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 10px;
}

/*Fin Titulo Inicio*/
/*Lo nuevo*/
.nuevoPrincipal {
  height: 1400px;
  width: 100%;
  background-color: none;
  background-image: url(../Multimedia/Imagenes/wave\ \(1\).svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 120px;
  justify-content: flex-end;
  flex-direction: column;
}
.nuevoPrincipal h2 {
  font-size: 40px;
  letter-spacing: 10px;
  padding-bottom: 30px;
}
.nuevoPrincipal .imgNuevoPrincipal {
  height: 700px;
  width: 100%;
  background-color: rgba(243, 243, 243, 0.2);
  display: flex;
  justify-content: center;
}
.nuevoPrincipal .imgNuevoPrincipal .botinesAF50 {
  width: 45%;
  background-image: url(../Multimedia/Imagenes/Botines\ adidas\ fondo.jpg);
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
}
.nuevoPrincipal .imgNuevoPrincipal .camisetaArg2022 {
  width: 45%;
  background-image: url(../Multimedia/Imagenes/camiseta\ arg\ fondo.jpg);
  background-position: right;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
}
.nuevoPrincipal .imgNuevoPrincipal h3 {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 5px;
}
.nuevoPrincipal .imgNuevoPrincipal a {
  color: white;
  font-size: 22px;
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0.2);
  width: 170px;
  text-align: center;
  position: relative;
  display: block;
  padding: 10px 20px;
  overflow: hidden;
  transition: color 0s 0.25s var(--timing-function);
  border: 1px solid #E6E2ED;
  margin-bottom: 50px;
  margin-top: 15px;
  border-radius: 75px;
}
.nuevoPrincipal .imgNuevoPrincipal a::before, .nuevoPrincipal .imgNuevoPrincipal a::after {
  position: absolute;
  left: 0;
  width: 100%;
}
.nuevoPrincipal .imgNuevoPrincipal a::before {
  content: "";
  top: 50%;
  transform: translate(-101%, -50%);
  height: 100%;
  z-index: 1;
  background: white;
  transition: transform 0.5s var(--timing-function);
  background-color: #E6E2ED;
}
.nuevoPrincipal .imgNuevoPrincipal a::after {
  content: attr(data-icon);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  opacity: 0;
  transition: opacity 0s 0.25s var(--timing-function);
}
.nuevoPrincipal .imgNuevoPrincipal a:hover {
  color: transparent;
  transition: all 500ms;
}
.nuevoPrincipal .imgNuevoPrincipal a:hover::before {
  transform: translate(101%, -50%);
  background-color: #E6E2ED;
}
.nuevoPrincipal .imgNuevoPrincipal a:hover::after {
  opacity: 1;
}

/*Fin Lo nuevo*/
/*Galeria de inicio*/
.galeria {
  height: auto;
  width: 100%;
  background-color: none;
  padding-bottom: 200px;
}
.galeria .svg {
  height: auto;
  width: 100%;
  background-color: none;
}
.galeria .fotosGaleria {
  height: 500px;
  width: 100%;
  background-color: none;
  display: flex;
  justify-content: space-around;
}
.galeria .fotosGaleria .ipelotas {
  background-image: url(../Multimedia/Imagenes/mundial1.jpg);
  height: 100%;
  width: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 3px #0F1758 solid;
  transition: all 0.5s;
}
.galeria .fotosGaleria .ipelotas:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
.galeria .fotosGaleria .fondoGris {
  height: 100%;
  width: 100%;
  background-color: rgba(217, 217, 217, 0.7);
  transition: all 0.5s;
}
.galeria .fotosGaleria .fondoGris a {
  color: black;
  font-size: 30px;
  font-weight: 350;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galeria .fotosGaleria .fondoGris a:hover {
  color: transparent;
}
.galeria .fotosGaleria .fondoGris:hover {
  background: none;
  transition: all 0.5s;
}
.galeria .fotosGaleria .ibotines {
  background-image: url(../Multimedia/Imagenes/nike1.jpg);
  height: 100%;
  width: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 3px #0F1758 solid;
  transition: all 0.5s;
}
.galeria .fotosGaleria .ibotines:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
.galeria .fotosGaleria .fondoGris {
  height: 100%;
  width: 100%;
  background-color: rgba(217, 217, 217, 0.7);
  transition: all 0.5s;
}
.galeria .fotosGaleria .fondoGris a {
  color: black;
  font-size: 30px;
  font-weight: 350;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galeria .fotosGaleria .fondoGris a:hover {
  color: transparent;
}
.galeria .fotosGaleria .fondoGris:hover {
  background: none;
  transition: all 0.5s;
}
.galeria .fotosGaleria .icamisetas {
  background-image: url(../Multimedia/Imagenes/boca1.jpg);
  height: 100%;
  width: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 3px #0F1758 solid;
  transition: all 0.5s;
}
.galeria .fotosGaleria .icamisetas:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
.galeria .fotosGaleria .fondoGris {
  height: 100%;
  width: 100%;
  background-color: rgba(217, 217, 217, 0.7);
  transition: all 0.5s;
}
.galeria .fotosGaleria .fondoGris a {
  color: black;
  font-size: 30px;
  font-weight: 350;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galeria .fotosGaleria .fondoGris a:hover {
  color: transparent;
}
.galeria .fotosGaleria .fondoGris:hover {
  background: none;
  transition: all 0.5s;
}

/*Fin Galeria de inicio*/
/*Responsive Inicio*/
@media only screen and (max-width: 529px) {
  .nombrePrincipal {
    height: 300px;
    background-position: center;
    background-size: cover;
  }
  .nombrePrincipal .nombreTienda {
    width: 60%;
    height: 40px;
  }
  .nombrePrincipal .nombreTienda h1 {
    font-size: 25px;
    font-weight: 100;
  }
  .nombrePrincipal .nombreTienda .textoPrincipal {
    display: none;
  }
  .nuevoPrincipal {
    height: 900px;
    padding-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
  }
  .nuevoPrincipal h2 {
    font-size: 30px;
  }
  .nuevoPrincipal .imgNuevoPrincipal {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .nuevoPrincipal .imgNuevoPrincipal .camisetaArg2022 {
    width: 90%;
    height: 48%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-position: center;
  }
  .nuevoPrincipal .imgNuevoPrincipal h3 {
    font-size: 16px;
    font-weight: 100;
    text-align: center;
  }
  .nuevoPrincipal .imgNuevoPrincipal .botinesAF50 {
    width: 90%;
    height: 48%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-position: center;
  }
  .nuevoPrincipal .imgNuevoPrincipal .botonComprar {
    margin-bottom: 20px;
    padding: 8px 20px;
    font-size: 16px;
  }
  .galeria .fotosGaleria {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .galeria .fotosGaleria .fotoInd {
    height: 25%;
    width: 50%;
  }
  .galeria .fotosGaleria .fotoInd .fondoGris a {
    font-size: 20px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 1299px) {
  .nombrePrincipal {
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .nombrePrincipal .nombreTienda {
    width: 50%;
    height: 80px;
  }
  .nombrePrincipal .nombreTienda h1 {
    font-size: 30px;
    font-weight: 100;
  }
  .nombrePrincipal .nombreTienda .textoPrincipal {
    display: none;
  }
  .nuevoPrincipal {
    height: 600px;
    padding-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
  }
  .nuevoPrincipal h2 {
    font-size: 30px;
  }
  .nuevoPrincipal .imgNuevoPrincipal {
    height: 50%;
  }
  .nuevoPrincipal .imgNuevoPrincipal h3 {
    font-size: 16px;
    font-weight: 100;
    text-align: center;
  }
  .nuevoPrincipal .imgNuevoPrincipal .botonComprar {
    margin-bottom: 20px;
    padding: 11px 30px;
    font-size: 16px;
  }
  .galeria .fotosGaleria {
    height: 250px;
  }
  .galeria .fotosGaleria .fotoInd {
    height: 100%;
    width: 25%;
  }
  .galeria .fotosGaleria .fotoInd .fondoGris a {
    font-size: 20px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1299px) {
  .nombrePrincipal {
    background-size: cover;
  }
}
/*Fin Responsive Inicio*/
/*---------------------------Fin Inicio---------------------------*/
/*---------------------------Footer---------------------------*/
footer {
  height: 400px;
  width: 100%;
  background-color: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80%, 20%;
  justify-items: center;
  border-top: 2px #E6E2ED solid;
}
footer .footerArriba {
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  width: 100%;
}
footer .footerArriba ul {
  list-style: none;
  display: flex;
}
footer .footerArriba .navFooter ul li {
  margin: 5px 10px;
  font-size: 20px;
  display: flex;
}
footer .footerArriba .redesFooter ul li {
  margin: 10px 30px;
  font-size: 28px;
}
footer .navFooter {
  height: 100%;
  width: 60%;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .navFooter ul li a {
  text-decoration: none;
  padding: 15px 25px;
  transition: 0.2s;
}
footer .navFooter ul li a:hover {
  background-color: #E6E2ED;
  color: #0F1758;
  transition: 0.2s;
}
footer .redesFooter {
  height: 100%;
  width: 40%;
  background-color: none;
}
footer .redesFooter ul li a {
  padding: 10px;
}
footer .redesFooter ul li a .ainsta:hover {
  color: #c13584;
  transition: all 0.3s;
}
footer .redesFooter ul li a .afb:hover {
  color: #4267B2;
  transition: all 0.3s;
}
footer .redesFooter ul li a .atw:hover {
  color: #1DA1F2;
  transition: all 0.3s;
}
footer .redesFooter ul li a .ayt:hover {
  color: #FF0000;
  transition: all 0.3s;
}
footer .redesFooter ul li a .aem:hover {
  color: #006aff;
  transition: all 0.3s;
}
footer .derechosAutor {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  grid-row: 2/3;
  grid-column: 1/3;
  width: 100%;
  text-align: center;
  align-self: flex-end;
  font-size: 18px;
}

/*Responsive Footer*/
@media only screen and (max-width: 529px) {
  footer {
    height: 300px;
  }
  footer ul {
    flex-wrap: wrap;
  }
  footer .footerArriba .navFooter ul li {
    margin: 5px 5px;
    font-size: 16px;
  }
  footer .footerArriba .redesFooter ul li {
    margin: 5px 20px;
    font-size: 20px;
  }
  footer .navFooter ul li a {
    padding: 5px 10px;
  }
  footer .derechosAutor {
    font-size: 14px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 1299px) {
  footer {
    height: 200px;
  }
  footer ul {
    flex-wrap: wrap;
  }
  footer .footerArriba .navFooter ul li {
    margin: 5px 5px;
    font-size: 16px;
  }
  footer .footerArriba .redesFooter ul li {
    margin: 5px 20px;
    font-size: 20px;
  }
  footer .navFooter ul li a {
    padding: 5px 15px;
  }
  footer .derechosAutor {
    font-size: 14px;
  }
}
/*Fin Responsive Footer*/
/*---------------------------Fin Footer---------------------------*/
/*---------------------------Contacto---------------------------*/
#bodyContacto {
  background-image: url(../Multimedia/Imagenes/patronAzul.jpg);
  background-size: auto;
  background-repeat: repeat;
  justify-content: flex-start;
}

.preguntasFrecuentes {
  height: auto;
  width: 75%;
  background-color: #E6E2ED;
  justify-content: flex-start;
}
.preguntasFrecuentes h1 {
  color: black;
  font-size: 35px;
  font-weight: 200;
  width: 80%;
  padding-top: 40px;
  border-bottom: 1px #0d1242 solid;
}
.preguntasFrecuentes .preguntas {
  width: 75%;
}
.preguntasFrecuentes .preguntas .preguntaInd {
  padding-bottom: 50px;
}
.preguntasFrecuentes .preguntas .preguntaInd h2 {
  color: black;
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px #0d1242 solid;
}
.preguntasFrecuentes .preguntas .preguntaInd p {
  color: black;
  text-align: justify;
  font-size: 18px;
}

/*Formulario*/
.consulta {
  height: auto;
  width: 75%;
  background-color: none;
  background-image: url(../Multimedia/Imagenes/wave-haikei.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #0F1758;
  justify-content: flex-start;
}
.consulta h2 {
  text-align: center;
  font-size: 30px;
  width: 75%;
  margin-top: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.consulta .formulario {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4fr, 4fr, 1fr;
  border: 1px #E6E2ED solid;
  margin-bottom: 100px;
}
.consulta .formulario .label {
  margin: 30px;
}
.consulta .formulario .label label {
  color: #E6E2ED;
  font-size: 20px;
  font-weight: 200;
}
.consulta .formulario .label input {
  margin-top: 10px;
  height: 80%;
  width: 80%;
  background-color: #0d1242;
  border: none;
  font-size: 18px;
  padding: 0 5px;
}
.consulta .formulario .label input:invalid {
  border: 2px solid red;
}
.consulta .formulario .label textarea {
  margin-top: 10px;
  height: 80%;
  width: 90%;
  background-color: #0d1242;
  border: none;
  font-size: 18px;
  resize: none;
}
.consulta .formulario .label textarea:invalid {
  border: 2px solid red;
}
.consulta .formulario .label1 {
  grid-row: 1/2;
  grid-column: 1/2;
}
.consulta .formulario .label2 {
  grid-row: 1/2;
  grid-column: 2/3;
}
.consulta .formulario .label3 {
  grid-row: 2/3;
  grid-column: 1/3;
}
.consulta .formulario .label4 {
  grid-row: 3/4;
  grid-column: 1/3;
  display: flex;
  justify-content: center;
}
.consulta .formulario .label4 .botonConsulta {
  height: 100%;
  width: 40%;
  background-color: #0d1242;
  transition: all 0.5s;
  display: block;
}
.consulta .formulario .label4 .botonConsulta:hover {
  cursor: pointer;
  background-color: #E6E2ED;
  color: #0d1242;
  transition: all 0.5s;
}

/*Fin Formulario*/
/*Responsive Formulario*/
@media only screen and (max-width: 880px) {
  .preguntasFrecuentes {
    width: 95%;
  }
  .preguntasFrecuentes h1 {
    font-size: 35px;
    width: 90%;
  }
  .preguntasFrecuentes .preguntas {
    width: 85%;
  }
  .preguntasFrecuentes .preguntas .preguntaInd {
    padding-bottom: 30px;
  }
  .preguntasFrecuentes .preguntas .preguntaInd h2 {
    font-size: 20px;
  }
  .preguntasFrecuentes .preguntas .preguntaInd p {
    font-size: 16px;
  }
  .consulta {
    width: 95%;
  }
  .consulta h2 {
    font-size: 28px;
  }
  .consulta .formulario {
    width: 85%;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr, 2fr, 4fr, 1fr;
  }
  .consulta .formulario .label label {
    font-size: 20px;
  }
  .consulta .formulario .label input {
    width: 100%;
  }
  .consulta .formulario .label textarea {
    width: 100%;
  }
  .consulta .formulario .label1 {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .consulta .formulario .label2 {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .consulta .formulario .label3 {
    grid-row: 3/4;
    grid-column: 1/3;
  }
  .consulta .formulario .label4 {
    grid-row: 4/5;
    grid-column: 1/3;
  }
}
/*Fin Responsive Formulario*/
/*---------------------------Fin Contacto---------------------------*/
/*---------------------------Quines Somos---------------------------*/
/*Titulo*/
.tituloQuienesSomos {
  height: 600px;
  width: 100%;
  background-color: none;
  background-image: url(../Multimedia/Imagenes/82f62e7b37bea73bfcaea2bf1dc5771f.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.tituloQuienesSomos .quienesSomosVsg {
  height: 90%;
  width: 100%;
  background-color: none;
  background-image: url(../Multimedia/Imagenes/wave\ \(4\).svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.tituloQuienesSomos .quienesSomosVsg h1 {
  padding: 60px;
}

/*Fin Titulo*/
/*Info*/
.sectionInfo {
  display: flex;
  justify-content: center;
}

.cajaGrandeInfo {
  height: auto;
  width: 80%;
  background-color: none;
  padding-bottom: 120px;
  display: flex;
  margin: 100px 0;
}
.cajaGrandeInfo .cajaChicaInfo {
  background-color: #E6E2ED;
  width: 50%;
}
.cajaGrandeInfo .cajaChicaInfo h2 {
  color: #0d1242;
  text-decoration: underline;
  text-align: center;
  font-size: 30px;
}
.cajaGrandeInfo .cajaChicaInfo p {
  color: black;
  font-size: 22px;
  text-align: justify;
  padding: 10px 20px;
}
.cajaGrandeInfo .imgInfo {
  height: 100%;
  width: 50%;
  background-color: none;
  background-image: url(../Multimedia/Imagenes/LocalPelotas.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

/*Fin Info*/
/*Mapa*/
.cajaMapa {
  height: 1300px;
  justify-content: flex-end;
  background-image: url(../Multimedia/Imagenes/wave\ \(5\).svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.cajaMapa .mapa {
  height: 50%;
  width: 65%;
  background-color: none;
  margin-bottom: 200px;
}
.cajaMapa .mapa h2 {
  text-align: center;
  color: #0F1758;
  font-size: 35px;
}
.cajaMapa .mapa iframe {
  height: 100%;
  width: 100%;
  background-color: none;
}

/*Fin Mapa*/
/*Respomsive Quienes somos*/
@media only screen and (max-width: 880px) {
  .preguntasFrecuentes {
    width: 95%;
  }
  .preguntasFrecuentes h1 {
    font-size: 35px;
    width: 90%;
  }
  .preguntasFrecuentes .preguntas {
    width: 85%;
  }
  .preguntasFrecuentes .preguntas .preguntaInd {
    padding-bottom: 30px;
  }
  .preguntasFrecuentes .preguntas .preguntaInd h2 {
    font-size: 20px;
  }
  .preguntasFrecuentes .preguntas .preguntaInd p {
    font-size: 16px;
  }
  .consulta {
    width: 95%;
  }
  .consulta h2 {
    font-size: 28px;
  }
  .consulta .formulario {
    width: 85%;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr, 2fr, 4fr, 1fr;
  }
  .consulta .formulario .label label {
    font-size: 20px;
  }
  .consulta .formulario .label input {
    width: 100%;
  }
  .consulta .formulario .label textarea {
    width: 100%;
  }
  .consulta .formulario .label1 {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .consulta .formulario .label2 {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .consulta .formulario .label3 {
    grid-row: 3/4;
    grid-column: 1/3;
  }
  .consulta .formulario .label4 {
    grid-row: 4/5;
    grid-column: 1/3;
  }
  .cajaGrandeInfo {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
  }
  .cajaGrandeInfo .cajaChicaInfo {
    width: 100%;
    height: 100%;
  }
  .cajaGrandeInfo .imgInfo {
    display: none;
  }
  .cajaMapa {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url(../Multimedia/Imagenes/wave\ \(5\).svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .cajaMapa .mapa {
    margin-bottom: 200px;
    width: 80%;
    height: 50%;
  }
  .ventaDeProd .catalogoProd {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
  .ventaDeProd .catalogoProd a {
    width: 80%;
    height: 250px;
  }
  .ventaDeProd .catalogoProd a .imgPelota {
    height: 80%;
    width: 100%;
  }
  .ventaDeProd .catalogoProd .nombrePrecio {
    width: 100%;
    height: 20%;
  }
}
/*Fin Respomsive Quienes somos*/
/*---------------------------Fin Quines Somos---------------------------*/
/*---------------------------Botines---------------------------*/
.galeriaMarcas {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 150px;
}
.galeriaMarcas .tituloMarcas {
  margin: 50px;
}
.galeriaMarcas .tituloMarcas h1 {
  color: #0f1650;
  text-align: center;
  font-size: 40px;
}
.galeriaMarcas .tituloMarcas p {
  color: #0f1650;
  text-align: center;
  font-size: 22px;
}
.galeriaMarcas .marcas {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  gap: 20px;
  padding: 20px;
}
.galeriaMarcas .marcas .marca1 {
  background-image: url(../Multimedia/Imagenes/BotinesAdidas.jpg);
  background-size: cover;
  background-position: center;
}
.galeriaMarcas .marcas .marca2 {
  background-image: url(../Multimedia/Imagenes/BotinesNike.jpg);
  background-size: cover;
  background-position: center;
}
.galeriaMarcas .marcas .marca3 {
  background-image: url(../Multimedia/Imagenes/BotinesPuma.jpg);
  background-size: cover;
  background-position: center;
}
.galeriaMarcas .marcas .marca4 {
  background-image: url(../Multimedia/Imagenes/BotinesNewBalance.jpg);
  background-size: cover;
  background-position: center;
}
.galeriaMarcas .marcas .marca5 {
  background-image: url(../Multimedia/Imagenes/BotinesMizuno.jpg);
  background-size: cover;
  background-position: center;
}
.galeriaMarcas .marcas .marca6 {
  background-image: url(../Multimedia/Imagenes/BotinesUnderArmour.jpg);
  background-size: cover;
  background-position: center;
}
.galeriaMarcas .marcas .marcaInd a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.galeriaMarcas .marcas .marcaInd a h2 {
  text-decoration: none;
  font-size: 30px;
  width: 100%;
  height: 50%;
  font-weight: 800;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: 0.5s;
}
.galeriaMarcas .marcas .marcaInd a p {
  color: #E6E2ED;
  text-decoration: none;
  width: 100%;
  height: 50%;
  font-weight: 100;
  text-align: center;
  transition: 0.5s;
}
.galeriaMarcas .marcas .marcaInd a:hover {
  background: none;
  transition: 0.5s;
}
.galeriaMarcas .marcas .marcaInd a:hover h2, .galeriaMarcas .marcas .marcaInd a:hover p {
  color: transparent;
  transition: 0.5s;
  transform: scale(0.9);
}
.galeriaMarcas .terrenos {
  gap: 0px;
  padding: 0;
}

.jugadores {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-auto-rows: minmax(600px, auto);
  gap: 40px;
  padding: 100px 20px;
  background-image: url(../Multimedia/Imagenes/patronAzul.jpg);
  background-repeat: repeat;
  background-size: contain;
}
.jugadores .jugador {
  height: 100%;
  background-color: #E6E2ED;
  justify-content: space-between;
}
.jugadores .jugador h3 {
  color: #0F1758;
  text-align: center;
  font-size: 30px;
}
.jugadores .jugador p {
  color: black;
  text-align: center;
  font-size: 16px;
}
.jugadores .jugador a {
  color: white;
  font-size: 22px;
  font-weight: 100;
  background-color: #0F1758;
  width: 170px;
  text-align: center;
  position: relative;
  display: block;
  padding: 10px 20px;
  overflow: hidden;
  transition: color 0s 0.25s var(--timing-function);
  border: 2px solid #0d1242;
  margin-bottom: 50px;
  margin-top: 15px;
  border-radius: 75px;
}
.jugadores .jugador a::before, .jugadores .jugador a::after {
  position: absolute;
  left: 0;
  width: 100%;
}
.jugadores .jugador a::before {
  content: "";
  top: 50%;
  transform: translate(-101%, -50%);
  height: 100%;
  z-index: 1;
  background: white;
  transition: transform 0.5s var(--timing-function);
  background-color: #E6E2ED;
}
.jugadores .jugador a::after {
  content: attr(data-icon);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  opacity: 0;
  transition: opacity 0s 0.25s var(--timing-function);
}
.jugadores .jugador a:hover {
  color: transparent;
  transition: all 500ms;
}
.jugadores .jugador a:hover::before {
  transform: translate(101%, -50%);
  background-color: #E6E2ED;
}
.jugadores .jugador a:hover::after {
  opacity: 1;
}
.jugadores input {
  display: none;
}

.jcr7 {
  background-image: url(../Multimedia/Imagenes/CR7.jpg);
  background-size: cover;
  height: 75%;
  width: 100%;
}

.jmessi {
  background-image: url(../Multimedia/Imagenes/Messi.jpg);
  background-size: cover;
  height: 75%;
  width: 100%;
}

.jneymar {
  background-image: url(../Multimedia/Imagenes/Neymar.jpg);
  background-size: cover;
  height: 75%;
  width: 100%;
}

.jcr7 {
  background-position: top;
}

.jmessi, .jneymar {
  background-position: center;
}

.Terreno1 {
  background-image: url(../Multimedia/Imagenes/FG.jpg);
  background-size: cover;
  background-position: center;
}

.Terreno2 {
  background-image: url(../Multimedia/Imagenes/SG.jpg);
  background-size: cover;
  background-position: center;
}

.Terreno3 {
  background-image: url(../Multimedia/Imagenes/CespedSintetico.jpg);
  background-size: cover;
  background-position: center;
}

.tipoBota1 {
  background-image: url(../Multimedia/Imagenes/BotinesAltos.jpg);
  background-size: cover;
  background-position: center;
}

.tipoBota2 {
  background-image: url(../Multimedia/Imagenes/BotinesCortos.jpg);
  background-size: cover;
  background-position: center;
}

.tipoBota3 {
  background-image: url(../Multimedia/Imagenes/botinesCuero.jpg);
  background-size: cover;
  background-position: center;
}

/*Responsive Botines y camisetas*/
@media only screen and (max-width: 380px) {
  #camisetas {
    grid-template-columns: 1;
    grid-auto-rows: 10;
    justify-items: center;
    padding: 0;
  }
  #camisetas .marcaInd {
    height: 400px;
    width: 80%;
    padding: 0;
  }
  .jugadores {
    background-color: rebeccapurple;
  }
  .jugadores a {
    color: rebeccapurple;
  }
}
@media only screen and (max-width: 529px) {
  .galeriaMarcas .marcas {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
  }
  .galeriaMarcas .terrenos {
    gap: 0px;
  }
  .jugadores {
    grid-auto-rows: minmax(300px, auto);
  }
  .jugadores .jugador h3 {
    font-size: 25px;
  }
  .jugadores .jugador p {
    display: none;
  }
  .jugadores .jugador a {
    width: 80%;
    font-size: 16px;
  }
  #camisetas {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 30px;
  }
  #camisetas h2 {
    font-size: 20px;
    font-weight: 200;
  }
}
@media only screen and (max-width: 1630px) {
  .jugadores {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .jugadores .jugador {
    width: 50%;
  }
}
/*Fin Responsive Botines y camisetas*/
/*---------------------------Fin Botines---------------------------*/
/*---------------------------Camisetas---------------------------*/
#camisetas {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: minmax(500px, auto);
}

.marcaCamiseta1 {
  background-image: url(../Multimedia/Imagenes/CamisetaAdidas.jpg);
  background-position: top;
  background-size: cover;
}

.marcaCamiseta2 {
  background-image: url(../Multimedia/Imagenes/CamisetaNike.jpg);
  background-position: top;
  background-size: cover;
}

.marcaCamiseta3 {
  background-image: url(../Multimedia/Imagenes/Camiseta.jpg);
  background-position: top;
  background-size: cover;
}

.marcaCamiseta4 {
  background-image: url(../Multimedia/Imagenes/CamisetaKappa.jpg);
  background-position: top;
  background-size: cover;
}

.marcaCamiseta5 {
  background-image: url(../Multimedia/Imagenes/CamisetaUmbro.jpg);
  background-position: top;
  background-size: cover;
}

.marcaCamiseta6 {
  background-image: url(../Multimedia/Imagenes/CamisetaUnderArmour.jpg);
  background-position: top;
  background-size: cover;
}

.marcaCamiseta7 {
  background-image: url(../Multimedia/Imagenes/CamisetaJoma.jpg);
  background-position: top;
  background-size: cover;
}

.marcaCamiseta8 {
  background-image: url(../Multimedia/Imagenes/CamisetaMacron.jpg);
  background-position: top;
  background-size: cover;
}

.marcaCamiseta9 {
  background-image: url(../Multimedia/Imagenes/CamisetaHummel.jpg);
  background-position: top;
  background-size: cover;
}

.marcaCamiseta10 {
  background-image: url(../Multimedia/Imagenes/CamisetaCastore.jpg);
  background-position: top;
  background-size: cover;
}

.selecciones {
  background-image: url(../Multimedia/Imagenes/CamisetaBrasil.webp);
  background-position: top;
  background-size: cover;
  height: 75%;
  width: 100%;
}

.clubes {
  background-image: url(../Multimedia/Imagenes/CamisetaPsg.jpg);
  background-position: top;
  background-size: cover;
  height: 75%;
  width: 100%;
}

.retro {
  background-image: url(../Multimedia/Imagenes/CamisetaRetro.jpg);
  background-position: top;
  background-size: cover;
  height: 75%;
  width: 100%;
}

/*---------------------------Fin Fin Camisetas---------------------------*/
/*---------------------------Pelotas---------------------------*/
.marcaPelota1 {
  background-image: url(../Multimedia/Imagenes/Pelota\ mundial2.jpg);
  background-position: center;
  background-size: cover;
}

.marcaPelota2 {
  background-image: url(../Multimedia/Imagenes/PelotaNike.jpg);
  background-position: center;
  background-size: cover;
}

.marcaPelota3 {
  background-image: url(../Multimedia/Imagenes/PelotaPuma.jfif);
  background-position: center;
  background-size: cover;
}

.marcaPelota4 {
  background-image: url(../Multimedia/Imagenes/PelotaNB.jfif);
  background-position: center;
  background-size: cover;
}

.marcaPelota5 {
  background-image: url(../Multimedia/Imagenes/PelotaUmbro.jpg);
  background-position: center;
  background-size: cover;
}

.marcaPelota6 {
  background-image: url(../Multimedia/Imagenes/PelotaUnder.jfif);
  background-position: center;
  background-size: cover;
}

.ventaDeProd {
  width: 100%;
  height: auto;
  background-image: url(../Multimedia/Imagenes/patronAzul.jpg);
  background-size: auto;
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ventaDeProd h2 {
  padding: 30px;
}
.ventaDeProd .catalogoProd {
  width: 80%;
  height: 100%;
  background-color: white;
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
}
.ventaDeProd .catalogoProd a {
  text-decoration: none;
  width: 300px;
  height: 330px;
  margin: 40px 0;
}
.ventaDeProd .catalogoProd a .imgPelota {
  height: 300px;
  width: 300px;
  background-image: url(../Multimedia/Imagenes/Pelota\ mundial2.jpg);
  background-size: cover;
  background-position: center;
}
.ventaDeProd .catalogoProd a h5 {
  color: black;
}
.ventaDeProd .catalogoProd .nombrePrecio {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 30px;
  padding-top: 5px;
  background-color: rgba(0, 0, 0, 0.02);
}

/*Responsive Pelotas*/
@media only screen and (max-width: 880px) {
  .ventaDeProd .catalogoProd {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
  .ventaDeProd .catalogoProd a {
    width: 80%;
    height: 250px;
  }
  .ventaDeProd .catalogoProd a .imgPelota {
    height: 80%;
    width: 100%;
  }
  .ventaDeProd .catalogoProd .nombrePrecio {
    width: 100%;
    height: 20%;
  }
}
@media only screen and (max-width: 1630px) {
  .ventaDeProd .catalogoProd {
    width: 75%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
}
/*Fin Responsive Pelotas*/
/*---------------------------Fin Pelotas---------------------------*/

/*# sourceMappingURL=estilo.css.map */
